<div class="container">
    <header class="page-header">
        <h1 class="page-title">Pricing</h1>
    </header>
    <div class="row">
        <div class="col-12 col-md-4 mt-5">
            <p-card class="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">

                    <h3 class="text-center">Personal</h3>
                    <div class="d-flex justify-content-center align-items-center">
                        <div style="font-size: 50px;">39</div>
                        <div>
                            <div>USD</div>
                            <div>month</div>
                        </div>
                    </div>
                </ng-template>

                <hr class=" mb-4">
                <ul style="list-style-type: none;">
                    <li>
                        1GB Disk Space</li>
                    <li>
                        10GB Monthly Bandwith</li>
                    <li>2 Email Accounts</li>
                    <li>
                        Unlimited Subdomains</li>
                    <li>
                        Free support</li>
                </ul>


                <button class="btn btn-success col-12 mt-4">Purches Now</button>

            </p-card>
        </div>
        <div class="col-12 col-md-4 mt-5">
            <p-card class="" [style]="{ width: '360px', }">
                <ng-template pTemplate="header">

                    <h3 class="text-center">Developers</h3>
                    <div class="d-flex justify-content-center align-items-center">
                        <div style="font-size: 50px; color: rgb(51, 105, 251);">59</div>
                        <div>
                            <div>USD</div>
                            <div>month</div>
                        </div>
                    </div>
                </ng-template>

                <hr class=" mb-4">
                <ul style="list-style-type: none;">
                    <li>
                        5GB Disk Space</li>
                    <li>
                        25GB Monthly Bandwith</li>
                    <li>5 Email Accounts</li>
                    <li>
                        Unlimited Subdomains</li>
                    <li>
                        Free support</li>
                </ul>


                <button class="btn btn-primary col-12 mt-4">Purches Now</button>

            </p-card>
        </div>
        <div class="col-12 col-md-4 mt-5">
            <p-card class="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">

                    <h3 class="text-center">Premium</h3>
                    <div class="d-flex justify-content-center align-items-center">
                        <div style="font-size: 50px;">99</div>
                        <div>
                            <div>USD</div>
                            <div>month</div>
                        </div>
                    </div>
                </ng-template>

                <hr class=" mb-4">
                <ul style="list-style-type: none;">
                    <li>
                        10GB Disk Space</li>
                    <li>
                        100GB Monthly Bandwith</li>
                    <li>20 Email Accounts</li>
                    <li>
                        Unlimited Subdomains</li>
                    <li>
                        Free support</li>
                </ul>


                <button class="btn btn-success col-12 mt-4">Purches Now</button>

            </p-card>
        </div>
    </div>
</div>