<div class="row">

    <div class="container">
        <h2 style="" class="page-title">Appointments</h2>
    </div>
    <div class="container">

        <div class="row">
            <div *ngFor="let dt of data" style="display: inline-block;" class="col-lg-4">


                <p-card [header]="dt.heading" [subheader]="dt.subheader" [style]="{ width: '360px' }"
                    class="mb-5">
                    <ng-template pTemplate="header">
                        <img alt="Card" [src]="dt.ImgLink" />
                    </ng-template>

                    <div class=" icon text-center" style="font-weight: 700;">
                        <i class=" pi pi-instagram"></i>
                        <i class=" pi pi-facebook"></i>
                        <i class=" pi pi-twitter"></i>
                    </div>
                    <p>{{dt.para}}</p>
                   
                    <div class="text-center">
                        <p-button label="View profile" icon="pi pi-profile" class="text-center" routerLink="Profile"></p-button>
                    </div>
                       
                   
                </p-card>

            </div>

        </div>

    </div>
</div>