/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";


@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";

.page-title {
    color: #1f202280;
    font-size: 2rem;
    margin: 0 0 1.4285714286rem;
    /* margin-left: 50px;
    opacity: 0.3; */
}
.card-content{
    padding: 1.4285714286rem;
}