<div class="row">

    <div class="container">
        <h2 style="margin-left:30px; opacity: 0.4;">Appointments</h2>
    </div>
    <div class="container ">

        <div class="row">
            <div *ngFor="let dt of data" style="display: inline-block;" class="col-lg-4">


                <p-card [header]="dt.heading" [subheader]="dt.subheader" [style]="{ width: '360px' }" class="mb-5">
                    <ng-template pTemplate="header">
                        <img alt="Card" [src]="dt.ImgLink" />
                    </ng-template>

                    <div class="row">
                        <div class="col-2 mt-3">
                            <strong>Team:</strong>
                        </div>
                        <div class="col-10 justify-content-center">
                            <div styleClass="mb-3">
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    size="large" shape="circle"></p-avatar>
                                <p-avatar
                                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                    size="large" shape="circle"></p-avatar>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                    size="large" shape="circle"></p-avatar>

                                <p-avatar label="+" shape="circle" size="large"
                                    [style]="{ 'background-color': '#9c27b0', 'color': '#ffffff'  }">
                                </p-avatar>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non
                        omnis temporibus? Blanditiis culpa labore velit.</p>

                    <div class="text-left">
                        <p-button styleClass="p-button-outlined" routerLink="DeptMore">
                            <i class="pi pi-id-card"></i>
                            <strong class="ml-2 font-bold">More</strong>
                        </p-button>
                    </div>


                </p-card>

            </div>

        </div>

    </div>
</div>