<div class="dept" style=" ">
    <h1>Department Coponent</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nobis molestiae facere repellendus quasi ipsa ut illum vel autem necessitatibus a corporis obcaecati harum voluptatem, hic dolorum expedita, quam nulla ad. Esse quos ratione harum vero ipsam, modi ipsum, natus consectetur quibusdam dignissimos nobis reprehenderit a obcaecati dolore porro voluptatibus.
</div>



<p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>