<div class="container">
    <header class="page-header">
        <h1 class="page-title">Pricing</h1>
    </header>
    <div class="row">
        <div class="col-6">
            <p-card>
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/user-profile.jpg" />
                </ng-template>
                <div class="d-flex align-items-center justify-content-between mb-3 user-actions">
                    <p-avatar style="    height: 100px;
    width: 100px;
    font-size: 50px;" styleClass="mt-3" size="xlarge" shape="circle">
                        <img src="assets/Content/user-400-1.jpg" alt="">
                    </p-avatar>
                    <button class="btn btn-danger">Subscribe</button>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3 ">
                    <h5 class="mb-0 mt-0 ">
                        Liam Jouns
                    </h5>
                    <div style="color: #faa110;">
                        <i class="pi pi-star-fill me-1 " style="font-size: 1.5rem"></i>
                        <i class="pi pi-star-fill me-1" style="font-size: 1.5rem"></i>
                        <i class="pi pi-star-fill me-1" style="font-size: 1.5rem"></i>
                        <i class="pi pi-star-fill me-1" style="font-size: 1.5rem"></i>
                        <i class="pi pi-star me-1" style="font-size: 1.5rem"></i>
                    </div>
                </div>
                <p style="color: rgb(143, 143, 144);">UI/UX Designer</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non
                    omnis temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Dicta, provident?
                </p>
            </p-card>
            <hr>
            <div>
                <p-card>
                    <div>
                        <h3>Websites & social channel</h3>
                    </div>
                    <div class="card-containt" style="    padding: 1.4285714286rem;">
                        <div class="row align-items-center mb-3">
                            <div class="col col-auto">
                                <i class="pi pi-google mt-3 " style="color: rgb(36, 41, 46); font-size: 30px; "></i>

                            </div>
                            <div class="col">
                                <div>
                                    GitHub
                                </div>
                                <a href="#">github.com/liam-jouns</a>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col col-auto">
                                <i class="pi pi-twitter mt-3 " style="color:rgb(29, 161, 242); font-size: 30px; "></i>

                            </div>
                            <div class="col">
                                <div>
                                    Twitter
                                </div>
                                <a href="#">twitter.com/liam-jouns</a>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col col-auto">
                                <i class="pi pi-linkedin mt-3 " style="color: rgb(0, 115, 177); font-size: 30px; "></i>

                            </div>
                            <div class="col">
                                <div>
                                    Linkedin
                                </div>
                                <a href="#">linkedin.com/liam-jouns</a>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col col-auto">
                                <i class="pi pi-youtube mt-3 " style="color: rgb(255, 0, 0); font-size: 30px; "></i>

                            </div>
                            <div class="col">
                                <div>
                                    GitHub
                                </div>
                                <a href="#">github.com/liam-jouns</a>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
            <hr>
            <div>
                <p-card>
                    <div>
                        <h3>Contact information</h3>
                    </div>
                    <div class="card-containt" style="    padding: 1.4285714286rem;">
                        <div class="row align-items-center mb-3">
                            <div class="col col-auto">
                                <i class="pi pi-mobile mt-1 " style="color: rgb(143, 143, 144); font-size: 30px; "></i>

                            </div>
                            <div class="col">
                                <div>
                                    Mobile
                                </div>
                                <p>0126596578</p>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col col-auto">
                                <i class="pi pi-hashtag mt-1 " style="color: rgb(143, 143, 144); font-size: 30px; "></i>

                            </div>
                            <div class="col">
                                <div>
                                    Slack
                                </div>
                                <p>@liam.jouns</p>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col col-auto">
                                <i class="pi pi-dollar mt-1 " style="color: rgb(143, 143, 144); font-size: 30px; "></i>

                            </div>
                            <div class="col">
                                <div>
                                    Skype
                                </div>
                                <p>liam0jouns</p>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col col-auto">
                                <i class="pi pi-map-marker mt-1 "
                                    style="color: rgb(143, 143, 144); font-size: 30px; "></i>

                            </div>
                            <div class="col">
                                <div>
                                    Current Address
                                </div>
                                <p>71 Pilgrim Avenue Chevy Chase, MD 20815</p>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="col-6">
            <div>
                <p-card>
                    <div>
                        <h3>Contact information</h3>
                    </div>
                    <div class="card-containt" style="padding: 3.285714286rem;">
                        <p-timeline [value]="events" class="text-left">
                            <ng-template pTemplate="content" let-event>
                                <div style="color: #bcbcbd;">
                                    {{event.date}}
                                </div>
                                <div>
                                    {{ event.status }}
                                </div>
                            </ng-template>
                        </p-timeline>
                    </div>
                </p-card>
            </div>
            <hr>
            <div>
                <p-card>
                    <div>
                        <h3>Education</h3>
                    </div>
                    <div class="card-containt" style="padding: 3.285714286rem;">
                        <p-timeline [value]="events2" class="text-left">
                            <ng-template pTemplate="content" let-event>
                                <div style="color: #bcbcbd;">
                                    {{event.date}}
                                </div>
                                <div>
                                    {{ event.status }}
                                </div>
                            </ng-template>
                        </p-timeline>
                    </div>
                </p-card>
            </div>

            <div>
                <p-card>
                    <hr>
                    <h3>Skills</h3>
                    <div class="skill mt-4">
                        <p-button label="html" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="php" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="css" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="scss" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="js" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="Angular" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="React" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="Vue.js" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="JavaScript" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                        <p-button label="TypeScript" class="p-badge-warning me-2 mb-2" styleClass=""></p-button>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>